a.closebanner1,a.closebanner2{font-size:12px;color:#ccc;font-weight:800;position:absolute;text-align:right;right:20px;z-index:12001}
a.closebanner1:hover,a.closebanner2:hover{color:#fff}
a.closebanner1{top:2px}
a.closebanner2{bottom:5px;}


#banner-atas,#banner-bawah {
height:50px;
z-index:12000;
position:fixed;
margin:0 auto;
}

#banner-atas object,#banner-bawah object {z-index:11999;}
#banner-atas .block-inner,#banner-bawah .block-inner {padding-bottom:0;}
#banner-atas-inner,#banner-bawah-inner{
position:relative;width:100%;z-index:11999;
}

#banner-atas {top:0}
#banner-bawah {bottom:0}
#banner-atas img,#banner-bawah img {
height:50px;
width:960px;
border:0;
float:none;
z-index:12000
}

/*468 x 60 */


.ad468x60,.ad468x60 img{margin:2px 0px; width:468px; float:right;}
.ad468x60-konten,.ad468x60-konten img{margin-top:11px; width:468px; float:right;}

/*300 x 250 */

.ad300x250-atas,.ad300x250-atas img {margin-bottom:3px; width:300px;}
.ad300x250-tengah,.ad300x250-tengah img{margin:3px 0px; width:300px;}
.ad300x250-bawah,.ad300x250-bawah img {margin-bottom:0px; margin-top:3px;width:300px;}

/*300 x 125 */

.ad300x125-atas,.ad300x125-atas img {margin-bottom:3px; width:300px;}
.ad300x125-tengah,.ad300x125-tengah img{margin:3px 0px; width:300px;}
.ad300x125-bawah,.ad300x125-bawah img {margin-bottom:0px; margin-top:3px;width:300px;}


/*300 x 60 */
.ad300x60-atas,.ad300x60-atas img {margin-bottom:3px; width:300px;}
.ad300x60-tengah,.ad300x60-tengah img{margin:3px 0px; width:300px;}
.ad300x60-bawah,.ad300x60-bawah img {margin-bottom:0px; margin-top:3px;width:300px;}

/*940 x 60 */
.ad940x60-atas,.ad940x60-atas img {margin-bottom:3px; width:940px; height:auto;}
.ad940x60-tengah,.ad940x60-tengah img{margin:3px 0px; width:940px; height:auto;}
.ad940x60-bawah,.ad940x60-bawah img {margin-bottom:0px; margin-top:3px;width:940px; height:auto;}

/*768 x 90 */
.ad768x90 {margin:10px 96px; width:768px; height:auto;}
img.ad768x90{width:768px; height:auto;}

/*120 x 600 */
.ad120x600-konten {margin:10px 0px; width:120px; height:auto;}
img.ad120x600-konten{width:120px; height:600px;}

/*160 x 600 */
.ad120x600-konten {margin:10px 0px; width:160px; height:auto;}
img.ad120x600-konten{width:160px; height:600px;}